@import 'variables';
@import 'header';
@import 'main';
@import 'button';
@import 'footer';
@import 'title';
@import 'carousel';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $ffMon;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}
